<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<%= stylesheet_link_tag "site" %>
<%= javascript_include_tag "site" %>
<%= javascript_include_tag "bootstrap.bundle.min" %>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#7DF4C9">
<link rel="shortcut icon" href="/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#7DF4C9">
<meta name="theme-color" content="#7DF4C9">

<!-- Title tags -->
<title><%= current_page.data.title || "Middleman" %></title>
<meta property="og:title" content="Ferrocene - Style Guide" />
<meta name="twitter:title" content="Ferrocene - Style Guide" />
<meta itemprop="name" content="Ferrocene - Style Guide" />
<meta name="application-name" content="Ferrocene - Style Guide" />
<meta property="og:site_name" content="Ferrocene - Style Guide" />

<!-- Description tags -->
<meta name="description" content="Ferrocene - content needed" />
<meta itemprop="description" content="Ferrocene - content needed" />
<meta property="og:description" content="Ferrocene - content needed" />
<meta name="twitter:description" content="Ferrocene - content needed" />

<!-- Link tags -->
<base href="<%= current_page.url %>" />
<link rel="canonical" href="<%= current_page.url %>" itemprop="url" />
<meta name="url" content="<%= current_page.url %>" />
<meta name="twitter:url" content="<%= current_page.url %>" />
<meta property="og:url" content="<%= current_page.url %>" />

<!-- Language tags -->
<meta property="og:locale" content="en-US" />
<meta name="language" content="en-US" />

<!-- Search Engine Crawler tags -->
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<!-- Other tags -->
<meta name="keywords" content="ferrocene, style, guide, web, development, software" />
<meta name="imagemode" content="force" />
<meta name="coverage" content="Worldwide" />
<meta name="distribution" content="Global" />
<meta name="HandheldFriendly" content="True" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="apple-mobile-web-app-title" content="Ferrocene - Style Guide" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-touch-fullscreen" content="yes" />

</head>